body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 20px;
}
body h1{
  text-align: center;
  font-weight: bold;
}
.header{
  text-align: center;
}
.header div a{
  font-weight: bold;
  color: aqua;
}
.header li{
  display: inline;
  list-style-type: none;
  text-align: center;
}

ul.header li a{
  color: aqua;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
  text-align: center;
}

.content{
  padding: 20px;
}
.contnent li{
  margin-bottom: 10px;
}
